<div class="container-fluid mt-4 px-4">
  <h1>Calculate a Range of Colors</h1>

  <div class="row mt-4">
    <div class="col">
      <span>Reference Color</span>
      <div class="w-75 h-75 mt-2" style="background-color: <%= @color_hex %>"></div>
    </div>
    <div class="col">
      <%= form_with url: "set_color_hex", method: :post do |form| %>
        <%= form.label "color_hex", "Color HEX", class: "form-label" %>
        <div class="row">
          <div class="col" style="color: var(--bs-gray-500)">
            <%= form.text_field :the_color_hex, value: "#xxxxxx", class: "form-control"%>
          </div>
        </div>
        <%= form.submit 'Enter', class: "btn btn-primary mt-3" %>
      <% end %>
    </div>
    <div class="col">
      <%= form_with url: "set_color_rgb", method: :post do |form| %>
        <%= form.label "color_rgb", "Color RGB", class: "form-label" %>
        <div class="row">
          <div class="col" style="color: var(--bs-gray-500)">
            <%= form.text_field :the_color_r, value: "R", class: "form-control"%>
          </div>
          <div class="col" style="color: var(--bs-gray-500)">
            <%= form.text_field :the_color_g, value: "G", class: "form-control"%>
          </div>
          <div class="col" style="color: var(--bs-gray-500)">
            <%= form.text_field :the_color_b, value: "B", class: "form-control"%>
          </div>
        </div>
        <%= form.submit 'Enter', class: "btn btn-primary mt-3" %>
      <% end %>
    </div>
    <div class="col">
      <%= form_with url: "set_color_hsb", method: :post do |form| %>
        <%= form.label "color_hsl", "Color HSB", class: "form-label" %>
        <div class="row">
          <div class="col" style="color: var(--bs-gray-500)">
            <%= form.text_field :the_color_h, value: "H", class: "form-control"%>
          </div>
          <div class="col" style="color: var(--bs-gray-500)">
            <%= form.text_field :the_color_s, value: "S", class: "form-control"%>
          </div>
          <div class="col" style="color: var(--bs-gray-500)">
            <%= form.text_field :the_color_b, value: "B", class: "form-control"%>
          </div>
        </div>
        <%= form.submit 'Enter', class: "btn btn-primary mt-3" %>
      <% end %>
    </div>
  </div>
</div>
