<div class="container-fluid mt-4 px-4">
  <h1>Calculate a Range of Colors</h1>
  <p>Find me in app/views/ranges/ranges.html.erb</p>

  <div class="row">
    <div class="col">
      <span>Reference Color</span>
      <div class="w-75 h-75 <%= @the_color_hex %> mt-2"></div>
    </div>
    <div class="col">
      <form class="requires-validation" novalidate>
        <div class="mb-3">
          <label for="hex" class="form-label">Color: HEX</label>
          <input type="text" class="form-control" id="hexInput" required>
        </div>
        <button type="submit" class="btn btn-primary">Enter</button>
      </form>
    </div>
    <div class="col">
      <%= form_with url: "set_color_hex", :html => {:class => 'mb-3'}, method: :post do |form| %>
        <%= form.label 'Color: HEX' %>
        <%= form.text_field :the_color_hex%>
        <%= form.submit 'Enter' %>
      <% end %>
    </div>
    <div class="col">Column</div>
  </div>
</div>
