<div class="container-fluid mt-4 px-4">
  <h1>Calculate a Range of Colors</h1>

  <div class="row mt-4">
    <div class="col">
      <span>Reference Color</span>
      <div class="w-75 h-75 mt-2" style="background-color: <%= @the_color_as_hex %>"></div>
    </div>
    <div class="col">
      <%= form_with url: "set_color_hex", method: :post do |form| %>
        <%= form.label "color_hex", "Color HEX", class: "form-label" %>
        <div class="row">
          <div class="col">
            <%= form.text_field :the_color_hex, placeholder: "#xxxxxx", class: "form-control"%>
          </div>
        </div>
        <%= form.submit 'Enter', class: "btn btn-primary mt-3" %>
      <% end %>
    </div>
    <div class="col">
      <%= form_with url: "set_color_rgb", method: :post do |form| %>
        <%= form.label "color_rgb", "Color RGB", class: "form-label" %>
        <div class="row">
          <div class="col">
            <%= form.text_field :the_color_r, placeholder: "R", class: "form-control"%>
          </div>
          <div class="col">
            <%= form.text_field :the_color_g, placeholder: "G", class: "form-control"%>
          </div>
          <div class="col">
            <%= form.text_field :the_color_b, placeholder: "B", class: "form-control"%>
          </div>
        </div>
        <%= form.submit 'Enter', class: "btn btn-primary mt-3" %>
      <% end %>
    </div>
    <div class="col">
      <%= form_with url: "set_color_hsl", method: :post do |form| %>
        <%= form.label "color_hsl", "Color HSL", class: "form-label" %>
        <div class="row">
          <div class="col">
            <%= form.text_field :the_color_h, placeholder: "H", class: "form-control"%>
          </div>
          <div class="col">
            <%= form.text_field :the_color_s, placeholder: "S", class: "form-control"%>
          </div>
          <div class="col">
            <%= form.text_field :the_color_l, placeholder: "L", class: "form-control"%>
          </div>
        </div>
        <%= form.submit 'Enter', class: "btn btn-primary mt-3" %>
      <% end %>
    </div>
  </div>
</div>
