<div class="container-fluid mt-4 px-4">
  <h1>Calculate a Range of Colors</h1>

  <div class="row mt-4">
    <div class="col">
      <span>Reference Color</span>
      <div class="w-75 h-75 mt-2" style="background-color: <%= @the_color_as_hex %>"></div>
    </div>
    <div class="col">
      <form class="requires-validation" novalidate>
        <div class="mb-3">
          <label for="hex" class="form-label">Color: HEX</label>
          <input type="text" class="form-control" id="hexInput" required>
        </div>
        <button type="submit" class="btn btn-primary">Enter</button>
      </form>
    </div>
    <div class="col">
      <%= form_with url: "set_color_hex", method: :post do |form| %>
        <%= form.label "Color: HEX", class: "form-label" %>
        <%= form.text_field :the_color_hex, class: "form-control"%>
        <%= form.submit 'Enter', class: "btn btn-primary mt-3" %>
      <% end %>
    </div>
    <div class="col">Column</div>
  </div>
</div>
