<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Bob Rockefeller" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>


    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="navbar has-background-primary is-size-5 has-text-weight-bold">
      <input id="menu-switch" name="menu-switch" type="checkbox"/>

      <div class="navbar-brand">
        <div class="navbar-item">
          <%= image_tag("Logo.svg") %>
        </div>
        <a class="navbar-burger" role="button" aria-label="menu" aria-expanded="false">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      <div class="navbar-menu">
        <div class="navbar-end ml-3">
          <div class="navbar-item px-0">
            <a class="navbar-item" href="<%= home_path %>"> Home</a>
          </div>
          <div class="navbar-item px-0">
            <a class="navbar-item" href="<%= about_path %>"> About</a>
          </div>
          <div class="navbar-item px-0">
            <div class="navbar-item has-dropdown is-hoverable">
              <a class= "navbar-link"> Dropdown</a>
              <div class="navbar-dropdown is-boxed py-0">
                <a class="navbar-item" href="<%= home_path %>"> Home</a>
                <a class="navbar-item" href="<%= about_path %>"> About</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <div class="container content mt-4 ml-4">
      <%= yield %>
    </div>
  </body>
</html>
